.heroBanner {
  padding: 4rem 0 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.findings {
  padding: 3rem 0;
}

.hint {
  font-size: 0.85rem;
  color: var(--ifm-color-emphasis-600);
  margin-top: 0.5rem;
}
